@value theme: "../../themes/default.css";

@value sidebarHeaderHeight from theme;
@value pageHeaderFontsize from theme;
@value pageHeaderFontweight from theme;
@value pageHeaderColor from theme;
@value pageHeaderMargin from theme;

.headerWrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: sidebarHeaderHeight;
  margin-top: pageHeaderMargin;
}

.header {
  flex-grow: 1;
  font-size: pageHeaderFontsize;
  font-weight: pageHeaderFontweight;
  color: pageHeaderColor;
}

.headerItems {
  display: flex;
}

.headerItem {
  margin-left: 0.8em;
}
