@value theme: "../../../themes/default.css";

@value sidebarTitleMarginBottom from theme;
@value sidebarTitlePadding from theme;
@value sidebarDividerWidth from theme;

.sidebarTitle {
  display: flex;
  align-items: center;
  width: sidebarDividerWidth;
  margin: auto;
  margin-bottom: sidebarTitleMarginBottom;
}
.sidebarTitleText {
  flex-grow: 1;
}
.sidebarTitleIcon:hover {
  cursor: pointer;
}
