@value theme: "../../themes/default.css";

@value cardBodyPadding from theme;
@value cardHeadPaddingHorizontal from theme;
@value cardHeadPaddingVertical from theme;
@value cardHeadBackground from theme;
@value cardExtraPadding from theme;
@value cardBoxShadow from theme;

.scroll {
  height: 200px !important;
}

.card {
  width: 100%;
  margin: 0 !important;
  margin-top: -1px !important;
  box-shadow: cardBoxShadow;
}

.card :global(.card-body) {
  padding: cardBodyPadding !important;
}

.card :global(.ant-card-body) {
  display: none;
  padding: 0 !important;
}
.card :global(.ant-card-head) {
  background-color: cardHeadBackground;
  padding: cardHeadPaddingHorizontal !important;
  min-height: inherit !important;
}
.card :global(.ant-card-meta-title) {
  margin-bottom: 0 !important;
  font-weight: normal;
}
.card :global(.ant-card-meta-description) {
  font-size: 10pt;
}
.card :global(.ant-card-head):hover {
  cursor: pointer;
  background-color: rgba(244, 245, 249, 0.5);
}

.card :global(.ant-card-actions) {
  display: none;
}

.card :global(.ant-card-head-title) {
  display: flex;
  align-items: center;
  font-weight: normal;
  border: none;
  color: inherit;
  font-weight: normal;
}

.card :global(.ant-card-extra) {
  display: flex;
  align-items: center;
}


.active {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}

.active :global(.ant-card-head) {
  border: none;
  border-bottom-right-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  box-shadow: 0px 3px 5px rgba(0,0,0,.05);
}

.active :global(.ant-card-head):hover {
  background-color: white;
}

.active :global(.ant-card-body) {
  display: inherit;
}

.active :global(.ant-card-actions) {
  display: inherit;
  border: none;
  background-color: white;
  box-shadow: 0px -3px 10px rgba(0,0,0,.05)
}
