@value theme: "../../../themes/default.css";

@value cardHeadBoxShadow from theme;

.scroll {
  max-height: 200px !important;
}

.tabs :global(.ant-tabs-bar) {
  margin-bottom: 0 !important;
  background-color: white;
  border: none;
  box-shadow: cardHeadBoxShadow;
}
